{% load static %}
{% if messages %}
    <ul class="messages">
        {% for message in messages %}
            {% if forloop.last %}
                <li style="padding: 10px; margin-bottom: 10px; border-radius: 5px; 
                    color: #fff; font-weight: bold; background-color: {% if message.tags == 'success' %}green{% else %}red{% endif %};">
                    {{ message }}
                </li>
            {% endif %}
        {% endfor %}
    </ul>
{% endif %}
<header>
    <img class="logo" src="{% static 'EV.png' %}" alt="logo">
    <nav>
        <ul class="nav_links">
            <li><a href={% url 'navhomestation' %}>Home</a></li>
            <li><a href={% url 'navigatorstation' %}>Find Station</a></li>
            <li><a href={% url 'stationstation' %}>Stations</a></li>
            <li><a href={% url 'profilestation' %}>Profile</a></li>
        </ul>
    </nav>
  </header>  