{% load static %}

{% comment %} <link rel="shortcut icon" href="https://res.cloudinary.com/rghosh/image/upload/v1650024022/Navic/favicon_ls5ivh.ico"> {% endcomment %}
{% comment %} <link rel="stylesheet" type="text/css" href="https://api.tomtom.com/maps-sdk-for-web/cdn/6.x/6.15.0/maps/maps.css"/> {% endcomment %}
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter">
{% comment %} <script src="https://api.tomtom.com/maps-sdk-for-web/cdn/6.x/6.15.0/maps/maps-web.min.js"></script>
<script src="https://api.tomtom.com/maps-sdk-for-web/cdn/6.x/6.15.0/services/services-web.min.js"></script> {% endcomment %}
{% comment %} <link rel="stylesheet" href={% static 'nav/home.css' %} /> {% endcomment %}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
