{% load static %}
{% if messages %}
    <ul class="messages">
        {% for message in messages %}
            {% if forloop.last %}
                <li style="padding: 10px; margin-bottom: 10px; border-radius: 5px; 
                    color: #fff; font-weight: bold; background-color: {% if message.tags == 'success' %}green{% else %}red{% endif %};">
                    {{ message }}
                </li>
            {% endif %}
        {% endfor %}
    </ul>
{% endif %}
<header>
    <img class="logo" src="{% static 'EV.png' %}" alt="logo">
    <nav>
        <ul class="nav_links">
            <li><a href={% url 'navhome' %}>Home</a></li>
            <li><a href={% url 'navigator' %}>Find Station</a></li>
            {% comment %} <li><a href={% url 'navigator' %}>Home Services</a></li> {% endcomment %}
            <li><a href={% url 'station' %}>Stations</a></li>
            <li><a href={% url 'booking' %}>Booking</a></li>
            <li><a href={% url 'bookingrating' %}>Rating Review</a></li>
            <li >
                {% comment %} <a href={% url 'profile' %}>Profile</a> {% endcomment %}
                {% comment %} <label for="cars">Profile</label> {% endcomment %}

                <select onchange="location = this.value;">
                    
                    {% comment %} <option ><a href="{% url 'logout' %}" >Logout</a></option> {% endcomment %}
                    <option value="{% url 'logout' %}">Profile</option>
                    <option value="{% url 'logout' %}">Logout</option>
                    <option value="{% url 'changepassworduser' %}">Change Password</option>
                </select>
            </li>
        </ul>
    </nav>
  </header>  